NGINX_VERSION="1.31.0"
OPENSSL_VERSION="4.0.0"

BUILD_ROOT="/usr/local/src"
BACKUP_ROOT="/root/nginx-backup"
LATEST_LINK="$BACKUP_ROOT/latest"
LOG_FILE="/tmp/setup_nginx.log"
PACKAGE_DIR="/root/nginx-packages"

STAGE_NGINX="/tmp/nginx-stage"

NGINX_USER="www-data"
NGINX_GROUP="www-data"
