# Konfiguration für das lokale Repository-Skript

REPO_DIR="/var/local/custom-repo"
LOG_FILE="/var/log/setup_local_repo.log"

DOVECOT_PKG_DIR="/root/dovecot-packages"
POSTFIX_PKG_DIR="/root/postfix-packages"
NGINX_PKG_DIR="/root/nginx-packages"
