PHP_VERSION="8.5.5"
PHP_VER_SHORT="8.5"

BUILD_ROOT="/usr/local/src"
BACKUP_ROOT="/root/php-backup"
LATEST_LINK="$BACKUP_ROOT/latest"
LOG_FILE="/var/log/setup_php.log"
PACKAGE_DIR="/root/php-packages"

STAGE_PHP="/tmp/php-stage"

PHP_USER="www-data"
PHP_GROUP="www-data"

PHP_FPM_SOCKET="/run/php/php${PHP_VER_SHORT}-fpm.sock"
